<div class="row">
  <div class="col-sm-3">
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3>APED</h3>
          </div>
  
          <ul class="list-unstyled components">
              
            <li class="active">
                <a href="#registrados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registrados</a>
                <ul class="collapse list-unstyled" id="registrados">
                    <li><a href="#" (click)="change('Total',1,1)">Total</a></li>
                    <li><a href="#" (click)="change('Genero',2,3)">Genero</a></li>
                    <li><a href="#" (click)="change('Clasificación Edad',4,6)">Clasificación Edad</a></li>
                    <li><a href="#" (click)="change('Mayores de 50',7,7)">Mayores de 50</a></li>
                    <li><a href="#" (click)="change('Localidad',8,27)">Localidad</a></li>
                    <li><a href="#" (click)="change('Grupos étnicos',28,32)">Grupos étnicos</a></li>
                    <li><a href="#" (click)="change('Tipo de Discapacidad',33,40)">Tipo de Discapacidad</a></li>
                    <li><a href="#" (click)="change('Actividad',41,52)">Actividad</a></li>
                    <li><a href="#" (click)="change('LGBTI',53,53)">LGBTI</a></li>
                </ul>
            </li>

            <li class="active">
              <a href="#orientados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Orientados</a>
              <ul class="collapse list-unstyled" id="orientados">
                  <li><a href="#">Genero</a></li>
                  <li><a href="#">Clasificación Edad</a></li>
                  <li><a href="#">Mayores de 50</a></li>
                  <li><a href="#">Localidad</a></li>
                  <li><a href="#">Grupos étnicos</a></li>
                  <li><a href="#">Tipo de Discapacidad</a></li>
                  <li><a href="#">Actividad</a></li>
                  <li><a href="#">LGBTI</a></li>
              </ul>
            </li>

            <li class="active">
              <a href="#formadosbt" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Formados BT</a>
              <ul class="collapse list-unstyled" id="formadosbt">
                  <li><a href="#">Genero</a></li>
                  <li><a href="#">Clasificación Edad</a></li>
                  <li><a href="#">Mayores de 50</a></li>
                  <li><a href="#">Localidad</a></li>
                  <li><a href="#">Grupos étnicos</a></li>
                  <li><a href="#">Tipo de Discapacidad</a></li>
                  <li><a href="#">Actividad</a></li>
                  <li><a href="#">LGBTI</a></li>
              </ul>
            </li>

            <li class="active">
              <a href="#formadosl" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Formados L</a>
              <ul class="collapse list-unstyled" id="formadosl">
                  <li><a href="#">Genero</a></li>
                  <li><a href="#">Clasificación Edad</a></li>
                  <li><a href="#">Mayores de 50</a></li>
                  <li><a href="#">Localidad</a></li>
                  <li><a href="#">Grupos étnicos</a></li>
                  <li><a href="#">Tipo de Discapacidad</a></li>
                  <li><a href="#">Actividad</a></li>
                  <li><a href="#">LGBTI</a></li>
                  <li><a href="#">Proveedor</a></li>
              </ul>
            </li>

            <li class="active">
              <a href="#remitidos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Remitidos</a>
              <ul class="collapse list-unstyled" id="remitidos">
                  <li><a href="#">Genero</a></li>
                  <li><a href="#">Clasificación Edad</a></li>
                  <li><a href="#">Mayores de 50</a></li>
                  <li><a href="#">Localidad</a></li>
                  <li><a href="#">Grupos étnicos</a></li>
                  <li><a href="#">Tipo de Discapacidad</a></li>
                  <li><a href="#">Actividad</a></li>
                  <li><a href="#">LGBTI</a></li>
              </ul>
            </li>

            <li class="active">
              <a href="#colocados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Colocados</a>
              <ul class="collapse list-unstyled" id="colocados">
                  <li><a href="#">Genero</a></li>
                  <li><a href="#">Clasificación Edad</a></li>
                  <li><a href="#">Mayores de 50</a></li>
                  <li><a href="#">Localidad</a></li>
                  <li><a href="#">Grupos étnicos</a></li>
                  <li><a href="#">Tipo de Discapacidad</a></li>
                  <li><a href="#">Actividad</a></li>
                  <li><a href="#">LGBTI</a></li>
              </ul>
            </li>
              
          </ul>
      </nav>
  
    </div>      
  </div>
  <div class="col-sm-9">
    <div class="container">
      <h3>{{tablaseleccionada}}</h3>      

      <table id="myTable" class="table table-responsive">
          <thead>
            <tr >
              <th *ngFor="let item of titulos"><div>{{item}}</div></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemLarge of datosTotal">
              <td *ngFor="let item of itemLarge">{{item }}</td>
            </tr>
          </tbody>
      </table>

    </div>
  </div>
</div>


<router-outlet></router-outlet>
