table > thead > tr > th:nth-child(13) > div{
    width: 150px;
}
table > thead > tr > th:nth-child(13){
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

table > thead > tr > th:nth-child(1) > div{
    width: 200px;
}


#myTable > tbody > tr > td:nth-child(1){
    background-color: #2b196c;
    color: white;
}

#myTable > thead > tr > th{
    background: #f14e63;
}

table > thead > tr > th:nth-child(1){
    background-color: #a42f7d;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}